
  <div class="container">
  <h1>Stupid Coaching</h1>
    <label for="answer" class="form-label">Ask your coach anything:</label>
    <form action="/answer" data-turbo="false">
      <div class="input-group mb-3">
        <input type="text" name="answer" class="form-control">
        <button type="submit" class="btn btn-primary">Ask!</button>
      </div>
    </form>
  </div>
